/* Contenedor de toda la lista */
.container-lista{
    border: 2px solid black;
    box-shadow: 10px 10px 0px 2px black;
    border-radius: 20px;
    width: 550px; 
    margin-top: 70px;
    margin-bottom: 50px;
    padding: 50px;
    background-color: beige;
}

.container-lista div{
    display: flex;
}

.container-lista li{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 4px dotted black;
}

div p{
    font-weight: 800;
}

.cont-cel{
    justify-content: space-between;
}

.cont-cel span{
    display: flex;
}

/* RESPONSIVE */
@media screen and (max-width: 576px){
    .container-lista{
        width: 100%;
        padding: 10px;
        font-size: 10px;
    }

    .container-lista li{
        margin-left: 20px;
    }
}

@media screen and (min-width:576px) and (max-width: 768px){
    .container-lista{
        width: auto;
        padding: 30px;
    }
}