@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    font-family: "Roboto Mono", monospace;
    background-image: url('./assets/fondo14.png');
    /* background-repeat: no-repeat; */
    background-position: center;
    background-size: cover; 
    margin: 0;
    padding: 0;
}